*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9c4041;
}
.res-nav{
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.11);
    height: 85px;
}
.res-nav img{
    width: 185px;
    height: 45px;
}
.collapse li a{
    color: white !important;
}
.about-section{
    padding-top: 130px !important;
}
.about-section h1{
    font-size: 53px;

}

.about-img img{
    margin-left: 120px !important;
}

@media only screen and (max-width: 994px) {
    .social-icon li{
        display:none;
    }
}
.navbar-toggler{
    background-color: rgba(245, 248, 250, 0.527);
}
.cent{
    margin-right: 20rem;
}
.bottom{
    color: #7c682a;
   
}
.bot{
    height: 50rem;
}
.bottomid{
    padding-left: 100px;
}
@media (max-width:768px) {
    .about-img img{
        
        margin-left: 100px !important;
        
    }
    .about-section{
        padding-top: 65px !important;
        padding-left: 100px;
        margin-bottom: 50px;
    }
    .bo{
        padding-top: 65px;
        padding-left: 100px;
        align-items: center;

    }
    .bottomid{
        padding-top: 68px;
        padding-bottom: 68px;
        padding-left: 12px;
    }
    .la{
        margin-bottom: 50px;
    }
    }
   